{% include 'header.html' %}

<script>
    $(document).ready(function(){
        $("#modelSelection").change(function(){
            // When the selected option is changed, we'd like to attach associated icon for the car type
            var values = $("#modelSelection option:selected");
            const arr = values.text().split('|');
            if (arr.length > 0) {
                $("#modelThumbnail").attr('src', "/static/images/" + arr[0] + ".png");
            }
        });
    });
</script>

<form action="update/" method="post" class="row g-3">
    {% csrf_token %}

    <div class="container">
        <div class="row p-2">
            <div class="col-md-2">
                <label class="form-label">Registration Number</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="registrationNumberText" name="registrationNumberText" maxlength="8"
                       placeholder="E.g. AXE-788" required>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-2">
                <label class="form-label">Vehicle Colour</label>
            </div>
            <div class="col-md-3">
                <select class="form-select form-select-lg mb-3" id = "colourSelection" name="colourSelection" required>
                    <option selected disabled value="">Choose...</option>
                    {% for c in colours %}
                    <option style="colour:{{c}}" value="{{c}}">{{c}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-2">
                <label class="form-label">Make & Model</label>
            </div>
            <div class="col-md-3">
                <select class="form-select form-select-lg mb-3" id="modelSelection" name="modelSelection" required>
                    <option selected disabled value="">Choose...</option>
                    {% for m in models %}
                    <option value="{{m.model_id}}">{{m.type}}| {{m.vendor}} - {{m.model}}</option>
                    {% endfor %}
                </select>
                <img id="modelThumbnail" src="/static/images/GENERIC_CAR.png" class="rounded mx-auto" alt="..." width="40">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-2">
                <label class="form-label">Vehicle Status</label>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="statusCheck" id="available"
                           value="AVAILABLE" checked>
                    <label class="form-check-label" for="available">
                        Ready for ride sharing
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="statusCheck" id="inactive"
                           value="INACTIVE">
                    <label class="form-check-label" for="inactive">
                        Currently not taking any offers
                    </label>
                </div>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit" id="updateButton">Update</button>
            </div>
        </div>

    </div> <!-- /container -->

</form>

{% include 'footer.html' %}
