<!DOCTYPE html>
{% include 'header.html' %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Baham!</h1>
            <h2 class="display-5">A truly inspiring slogan for our build-and-throw-into-bin app.</h2>
            <p>
                Baham is a web application created under project Dareecha in order to facilitate the students, staff, and faculty members of Habib University.
                This app was written from scratch on Django framework for a workshop. It can, however be enhanced and turned into FYP, should a group be interested.
            </p>
            <p><a class="btn btn-secondary btn-sm" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Owner</h2>
                <div class="text-center">
                  <img class="img-thumbnail width: 100px;" src="https://th.bing.com/th/id/R.7a7c980030974891821dcf06abcdfab6?rik=nVgXOO5ebnON7g&pid=ImgRaw&r=0">
                </div>
                <p>Humble owner of this Lamborghini Aventador is looking for a fellow living in Bahria Town. The usual Monday-Thursday. I leave around 8:10AM and head back at 3:00AM. Email me if interested: bscs0188@habib.edu.pk</p>
                <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Fellow</h2>
                <div class="text-center">
                  <img class="img-thumbnail width: 100px;" src="https://th.bing.com/th/id/R.db075d92d8046308d7fc00724cd8eca2?rik=hSbXLkAi8CABgg&pid=ImgRaw&r=0">
                </div>
                <p>Want someone to help you reduce your carbon footprint? Buzz me on WhatsApp: 03452345345. I come from Korangi crossing.</p>
                <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Owner</h2>
                <div class="text-center">
                  <img class="img-thumbnail width: 100px;">
                </div>
                <p>You can't miss that junk in blue parked daily right next to the ghostly shopping mall (don't tell me you need a picture). Well, I'm the owner and wanna test its limits. 3 companions needed from Gulshan-e-Iqbal, F.B. Area, or Sakhi Hassan roundabout. Meet me outside at 2:40 any day.</p>
                <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% include 'footer.html' %}
